<!doctype html>
<html lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js" ></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div  ng-app="app" class="container" ng-controller="myCtr1">
  <h1>Shopping List Check Off</h1>

  <div class="row">
  <!-- To Buy List -->
    <div class="col-md-6" >
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat=" item in listToBuy">Buy {{ item.name+' '+ item.quantity}} <button class="btn btn-default" ng-click="listBoughtAdd($index)"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="listToBuy.length ===0">Everything is bought!</div>
    </div>
    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="myCtr2">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="itemB in listBoughtSelected"> Bought {{itemB.quantity +' '+ itemB.name}} </li>
     </ul>
     <div class="emptyMessage" ng-if="listBoughtSelected.length===0">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
<script>
  var app=angular.module("app",[]).controller("myCtr1",controllerToBuy);
    app.controller("myCtr2",controllerBought);

  controllerToBuy.$inject=['$scope'];
  function controllerToBuy ($scope)
  {
    $scope.listBought=[];
  $scope.listToBuy=[{name:'cookies',quantity:10},{name:'tuto',quantity:10},{name:'tomatos',quantity:10},{name:'cake',quantity:10},{name:'water',quantity:10}];

  $scope.listBoughtAdd=function(index){
    $scope.listBought.push($scope.listToBuy[index]);
    $scope.listToBuy.splice($scope.listToBuy[index],1);

  }


};
  controllerBought.$inject=['$scope'];
  function controllerBought($scope)
  {
    $scope.listBoughtSelected=$scope.listBought;

  }



</script>
</html>
